.fondo-encabezados {
    background-color: #E5E5E5;
    text-align: center;
    font-weight: bold;
}

.grilla-listaPorc {
    text-align: center;
}

ion-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
