.grilla-listaclientes {
    border: 1px solid #a4721e; 
}

.fondo-encabezados{
    background: linear-gradient(45deg, rgba(255,246,125, 0.22) 0%, rgba(255,246,125, 0.22) 50%,rgba(63,62,62, 0.04) 50%, rgba(63,62,62, 0.04) 71%,rgba(251, 251, 251,0.04) 71%, rgba(251, 251, 251,0.04) 100%),linear-gradient(45deg, rgba(255,246,125, 0.22) 0%, rgba(255,246,125, 0.22) 56%,rgba(63,62,62, 0.04) 56%, rgba(63,62,62, 0.04) 67%,rgba(251, 251, 251,0.04) 67%, rgba(251, 251, 251,0.04) 100%),linear-gradient(135deg, rgba(255,246,125, 0.22) 0%, rgba(255,246,125, 0.22) 4%,rgba(63,62,62, 0.04) 4%, rgba(63,62,62, 0.04) 75%,rgba(251, 251, 251,0.04) 75%, rgba(251, 251, 251,0.04) 100%),linear-gradient(90deg, rgb(240,202,0),rgb(240,202,0));
    border: 1px solid #a4721e; 
}

