<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lotes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="segmentValue" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="listado_lotes">
      <ion-label>Listado de Lotes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="registro_lotes">
      <ion-label>Registrar Lotes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="segmentValue === 'listado_lotes'">
    <ion-row>
      <ion-col size="6" size-sm="6" size-lg="6">
        <ion-item class="borde-cafe">
          <ion-label color="pollos-cafe" position="fixed">
            <ion-icon slot="start" src="../../assets/icons/customer.svg"></ion-icon>
            Cliente:
          </ion-label>
            <ion-select interface="popover" placeholder="Seleccionar Cliente" (ionChange)="getGranjas($event)">
              <ion-select-option *ngFor="let cliente of listaClientes" [value]="cliente.id">{{cliente.nombre}}</ion-select-option>
            </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-sm="6" size-lg="6">
        <ion-item class="borde-cafe">
          <ion-label color="pollos-cafe" position="fixed">
            <ion-icon slot="start" src="../../assets/icons/registro_granjas.svg"></ion-icon>
            Granja:
          </ion-label>
            <ion-select interface="popover" placeholder="Seleccionar Granja" (ionChange)="getGalpones($event)">
              <ion-select-option *ngFor="let granja of listaGranjas" [value]="granja.id">{{granja.nombre}}</ion-select-option>
            </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6" size-sm="6" size-lg="6">
        <ion-item class="borde-cafe">
          <ion-label color="pollos-cafe" position="fixed">
            <ion-icon slot="start" src="../../assets/icons/warehouse.svg"></ion-icon>
            Galpon:
          </ion-label>
            <ion-select interface="popover" placeholder="Seleccionar Galpon" (ionChange)="getLotes($event)">
              <ion-select-option *ngFor="let galpon of listaGalpones" [value]="galpon.id">{{galpon.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-searchbar showCancelButton="focus" class="custom" [(ngModel)]="searchTerm" (ionChange)="handleChange($event)"></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2" size-sm="2" size-lg="2" class="fondo-encabezados">
          <ion-label>
            Codigo Lote
            <ion-icon name="filter-outline" color="primary" (click)="sortBy('codLote')"></ion-icon>
          </ion-label>
        </ion-col>
        <ion-col size="4" size-sm="4" size-lg="4" class="fondo-encabezados">
          <ion-label>
            Nombre Lote
            <ion-icon name="filter-outline" color="primary" (click)="sortBy('nombre')"></ion-icon>
          </ion-label>
        </ion-col>
        <ion-col size="4" size-sm="4" size-lg="4" class="fondo-encabezados">
          <ion-label>
            Fecha Encasetamiento
            <ion-icon name="filter-outline" color="primary" (click)="sortBy('fechaRegistroInicio')"></ion-icon>
          </ion-label>
        </ion-col>
        <ion-col size="2" size-sm="2" size-lg="2" class="fondo-encabezados">
          <ion-label>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let lote of listaLotes">
        <ion-col size="2" size-sm="2" size-lg="2" class="grilla-listaclientes">
          <ion-label>{{lote.codLote}}_{{lote.fechaRegistroInicio | date:'ddMMyy'}}</ion-label>
        </ion-col>
        <ion-col size="4" size-sm="4" size-lg="4" class="grilla-listaclientes">
          <ion-label>{{lote.nombre}}</ion-label>
        </ion-col>
        <ion-col size="4" size-sm="4" size-lg="4" class="grilla-listaclientes">
          <ion-label>{{lote.fechaRegistroInicio | date:'dd/MM/yyyy'}}</ion-label>
        </ion-col>
        
        <ion-col size="2" size-sm="2" size-lg="2" class="grilla-listaclientes">
          <ion-button class="botongrilla" size="small" (click)="MostrarDatosLote(lote.id)">
            <ion-icon name="create-sharp"></ion-icon>
          </ion-button>
          <ion-button class="botongrilla" size="small" (click)="MostrarModalLote(lote.id)">
            <ion-icon src="../../assets/icons/lotes.svg"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list *ngIf="segmentValue === 'registro_lotes'">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-label>
            <ion-icon slot="start" src="../../assets/icons/lotes.svg"></ion-icon>
            Registro de Lotes
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="LotesForm">
        <ion-row>
          <ion-col size="12" size-sm="6" size-lg="4">
            <ion-item class="borde-cafe">
              <ion-label color="pollos-cafe" position="floating">
                <ion-icon slot="start" src="../../assets/icons/customer.svg"></ion-icon>
                Cliente:
              </ion-label>
              <ion-select interface="popover" placeholder="Seleccionar Cliente" (ionChange)="getGranjas($event)">
                <ion-select-option *ngFor="let cliente of listaClientes" [value]="cliente.id">{{cliente.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4">
            <ion-item class="borde-cafe">
              <ion-label color="pollos-cafe" position="floating">
                <ion-icon slot="start" src="../../assets/icons/farm.svg"></ion-icon>
                Granja:
              </ion-label>
              <ion-select interface="popover" placeholder="Seleccionar Granja" (ionChange)="getGalpones($event)">
                <ion-select-option *ngFor="let granja of listaGranjas" [value]="granja.id">{{granja.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4">
            <ion-item class="borde-cafe">
              <ion-label color="pollos-cafe" position="floating">
                <ion-icon slot="start" src="../../assets/icons/warehouse.svg"></ion-icon>
                Galpon:
              </ion-label>
              <ion-select formControlName="idGalpon" interface="popover" placeholder="Seleccionar Galpon">
                <ion-select-option *ngFor="let galpon of listaGalpones" [value]="galpon.id">{{galpon.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4">
            <ion-item class="borde-cafe">
              <ion-label color="pollos-cafe" position="stacked">
                <ion-icon slot="start" src="../../assets/icons/calendar.svg"></ion-icon>
                Fecha de Encasetamiento:
              </ion-label>
              <ion-input formControlName="fechaRegistroInicio" type="date"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4">
            <ion-item class="borde-cafe">
              <ion-label color="pollos-cafe" position="floating">
                <ion-icon slot="start" src="../../assets/icons/nombre.svg"></ion-icon>
                Nombre del Lote:
              </ion-label>
              <ion-input formControlName="nombre" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4">
            <ion-item class="borde-cafe">
              <ion-label color="pollos-cafe" position="floating">
                <ion-icon slot="start" src="../../assets/icons/nombre.svg"></ion-icon>
                Lote Reproductora:
              </ion-label>
              <ion-input formControlName="loteReproductora" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4">
            <ion-item class="borde-cafe">
              <ion-label color="pollos-cafe" position="floating">
                <ion-icon slot="start" src="../../assets/icons/hen.svg"></ion-icon>
                Linea Genetica:
              </ion-label>
              <ion-select formControlName="idLineaGenetica" >
                <ion-select-option *ngFor="let linea of listalineaGenetica" [value]="linea.id">{{linea.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4">
            <ion-item class="borde-cafe">
              <ion-label color="pollos-cafe" position="floating">
                <ion-icon slot="start" src="../../assets/icons/gender.svg"></ion-icon>
                Sexo:
              </ion-label>
              <ion-select formControlName="idSexo"> 
                <ion-select-option *ngFor="let item of listaSexo" [value]="item.id">{{item.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4">
            <ion-item class="borde-cafe">
              <ion-label color="pollos-cafe" position="floating">
                <ion-icon slot="start" src="../../assets/icons/hatchery.svg"></ion-icon>
                Incubadora:
              </ion-label>
              <ion-select formControlName="idIncubadora" interface="popover">
                <ion-select-option *ngFor="let item of listaIncubadoras" [value]="item.id">{{item.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4">
            <ion-item class="borde-cafe">
              <ion-label color="pollos-cafe" position="floating">
                <ion-icon slot="start" src="../../assets/icons/number.svg"></ion-icon>
                Aves Encasetadas:
              </ion-label>
              <ion-input formControlName="numAvesEncasetadas" type="number" placeholder="Digite N° de Aves Encasetadas"></ion-input>
              <ion-note slot="error" *ngIf="LotesForm.get('numAvesEncasetadas').hasError('numAvesInvalid')">
                El número de aves debe ser mayor o igual a 100.
              </ion-note>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6" size-lg="4">
            <ion-item class="borde-cafe">
              <ion-label color="pollos-cafe" position="floating">
                <ion-icon slot="start" src="../../assets/icons/weight.svg"></ion-icon>
                Peso Inicial Dia 1 (g):
              </ion-label>
              <ion-input formControlName="pesoInicial" type="number"></ion-input>
              <ion-note slot="error" *ngIf="LotesForm.get('pesoInicial').hasError('pesoInvalid')">
                El peso inicial debe estar entre 30 y 50g.
              </ion-note>
            </ion-item>
          </ion-col>
        </ion-row>
        <br>
        <ion-grid fixed>
          <ion-row>
            <ion-col class="ion-align-self-center" size="4">
              <ion-fab-button color="italapp-pollos" (click)="goBack()">
                <ion-icon src="../../assets/icons/back.svg"></ion-icon>
              </ion-fab-button>
            </ion-col>
            <ion-col class="ion-align-self-center" size="4">
              <ion-fab-button color="italapp-pollos" [disabled]="!LotesForm.valid" (click)=" SaveOrUpdate()">
                <ion-icon src="../../assets/icons/save.svg"></ion-icon>
              </ion-fab-button>
            </ion-col>
            <ion-col class="ion-align-self-center" size="4">
              <ion-fab-button color="italapp-pollos" (click)="resetForm()"> 
                <ion-icon src="../../assets/icons/reset.svg"></ion-icon>
              </ion-fab-button>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col class="ion-align-self-center" size="4"><ion-note color="dark">Regresar</ion-note></ion-col>
            <ion-col class="ion-align-self-center" size="4"><ion-note color="dark">Guardar</ion-note></ion-col>
            <ion-col class="ion-align-self-center" size="4"><ion-note color="dark">Limpiar</ion-note></ion-col>
          </ion-row>
        </ion-grid>
      </form>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
