<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/clientes" routerDirection="forward">
          Clientes
        </ion-item>
        <ion-item routerLink="/usuarios" routerDirection="forward">
          Usuarios
        </ion-item>
        <ion-item routerLink="/granjas" routerDirection="forward">
          Granjas
        </ion-item>
        <ion-item routerLink="/galpones" routerDirection="forward">
          Galpones
        </ion-item>
        <ion-item routerLink="/lotes" routerDirection="forward">
          Lotes
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
